# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Secrets & Environment
.env
.env.*
*.pem
*.key
*.log

# Docker
.docker/
